<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ufscar.br/dc/compiladores/alguma/Alguma"
			class = "br.ufscar.dc.compiladores.alguma.alguma.AlgumaPackage"
			genModel = "model/generated/Alguma.genmodel" />
	</extension>
</plugin>
