<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ufscar.br/dc/compiladores/alguma2/Alguma2"
			class = "br.ufscar.dc.compiladores.alguma2.alguma2.Alguma2Package"
			genModel = "model/generated/Alguma2.genmodel" />
	</extension>
</plugin>
